<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>chat system</title>
		<meta name="descrption" content="概要">
		<link rel="stylesheet" href="style.css">
		<script type="text/javascript">
			<%= "var ip = \"" + @ip + "\"" %>
		</script>
		<script type="text/javascript">
			function jump(src){
				location.href=ip + src
			}
		</script>
	</head>

	<body>
		<h3>ブラウザでご覧の方へ</h3>
		<p>
		<h4>
			当チャットアプリは、ichigojamでの対応のため、使用可能な文字は次に限られます：<br />
			<ul>
			<li>半角英数字</li>
			<li>次の記号:!?"#$%&()=+-*/=^~\|@;:^&lt;&gt;,.{}[]「」・、。</li>
			<li>半角スペース、改行</li>
			<li>カタカナ（平仮名は使用不可</li>
			</ul>
			なお、非対応の文字は削除されますのでご了承ください。<br />
		</h4>
		</p>
		<form name="js">
			検索:<input type="text" name="oishi" id="word"><input type="button" value="検索" onclick="jump("sarch/" + documents.forms.js.word.value)">
		</form>
	</body>
</html>
