<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>IchigoChat</title>
		<script type="text/javascript">
			<%= "var ip = \"" + @ip + "\"" %>
		</script>
		<script type="text/javascript" src="jump.js"></script>
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>

	<body>
		<h3>ブラウザでご覧の方へ</h3>
		<p>
		<h4>
			当チャットアプリは、ichigojamでの対応のため、使用可能な文字は次に限られます：<br />
			<ul>
			<li>半角英数字</li>
			<li>次の記号:!?&puot;#$%&()=+-*/=^~\|@;:^&lt;&gt;,.{}[]「」・、。</li>
			<li>半角スペース、改行</li>
			<li>カタカナ（平仮名は使用不可</li>
			</ul>
			なお、非対応の文字は削除されますのでご了承ください。<br />
		</h4>
		</p>
		<form name="js">
			検索:<input type="text" name="sarch" id="word"><input value="検索" type="button" onclick="jump('sarch/' + document.forms.js.word.value)">
			<input type="text" name="dummy" style="display:none;">
		</form>
	</body>
</html>
