<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/send.js" type="text/javascript"></script>
  <script type="text/javascript" src="/return.js"></script>
  <title>チャット</title>
</head>
<body>
  <h1>Hello World</h1>
  <form id="form">
   <input type="text" id="send-msg">
   <input type="submit">
 </form>
 <ul id="msgs"></ul>
 <%= @come %>
</body>
</html>
