<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>IchigoChat sarch"<%= @word %>"</title>
    <script type="text/javascript" src="jump.js"></script>
    <script type="text/javascript">
		<%= "var ip = \"" + @ip + "\""%>
	</script>
	<link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <form name="js">
			検索:<input type="text" name="oishi" id="word"><input type="button" value="検索" onclick="jump('sarch/' + document.forms.js.word.value)"><br>
			新しく板を作成:<input type="button" value="作成" onclick="jump('newboad')">
		</form>
    <h1>検索結果 "<%= @word %>"</h1>
    <ol>
		<%= "<li>" + @boads_true.join("</li>\n<li>") + "</li>".force_encoding("UTF-8") %>
    </ol>
  </body>
</html>
